.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}

.td, .th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}