.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.grid {
  margin: 0 auto;
  padding: 1rem;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
.node {
  cursor: pointer;
}
